<!-- Policies -->
<section class="py-3">
  <div
    class="accordion mb-3"
    id="tentPolicyAccordion"
  >
    <div class="accordion-item">
      <h2
        class="accordion-header"
        id="headingTentPolicy"
      >
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTentPolicy"
          aria-expanded="false"
          aria-controls="collapseTentPolicy"
        >
          Tent pads are not guaranteed
        </button>
      </h2>
      <div
        id="collapseTentPolicy"
        class="accordion-collapse collapse show"
        aria-labelledby="headingTentPolicy"
        data-bs-parent="#tentPolicyAccordion"
      >
        <div class="accordion-body">
          <ul>
            <li>lorem ipsum dolor sit amet</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div
    class="accordion mb-4"
    id="otherPolicyAccordions"
  >
    <div class="accordion-item">
      <h2
        class="accordion-header"
        id="headingActivityPolicy"
      >
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseActivityPolicy"
          aria-expanded="false"
          aria-controls="collapseActivityPolicy"
        >
          {{activityName}} policy
        </button>
      </h2>
      <div
        id="collapseActivityPolicy"
        class="accordion-collapse collapse"
        aria-labelledby="headingActivityPolicy"
        data-bs-parent="#otherPolicyAccordions"
      >
        <div class="accordion-body">
          <ul>
            <li>lorem ipsum dolor sit amet</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2
        class="accordion-header"
        id="headingRegistrationPolicy"
      >
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseRegistrationPolicy"
          aria-expanded="false"
          aria-controls="collapseRegistrationPolicy"
        >
          Backcountry registration policies
        </button>
      </h2>
      <div
        id="collapseRegistrationPolicy"
        class="accordion-collapse collapse"
        aria-labelledby="headingRegistrationPolicy"
        data-bs-parent="#otherPolicyAccordions"
      >
        <div class="accordion-body">
          <ul>
            <li>lorem ipsum dolor sit amet</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2
        class="accordion-header"
        id="headingExlusionOfLiability"
      >
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExclusionOfLiability"
          aria-expanded="false"
          aria-controls="collapseExclusionOfLiability"
        >
          Exclusion of liability notice
        </button>
      </h2>
      <div
        id="collapseExclusionOfLiability"
        class="accordion-collapse collapse"
        aria-labelledby="headingExlusionOfLiability"
        data-bs-parent="#otherPolicyAccordions"
      >
        <div class="accordion-body">
          <ul>
            <li>lorem ipsum dolor sit amet</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2
        class="accordion-header"
        id="headingCancellationPolicy"
      >
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseCancellationPolicy"
          aria-expanded="true"
          aria-controls="collapseCancellationPolicy"
        >
          Cancellations, refunds, and no show policy
        </button>
      </h2>
      <div
        id="collapseCancellationPolicy"
        class="accordion-collapse collapse"
        aria-labelledby="headingCancellationPolicy"
        data-bs-parent="#otherPolicyAccordions"
      >
        <div class="accordion-body">
          <ul>
            <li>lorem ipsum dolor sit amet</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>