@use "../../assets/styles/index" as *;

footer {
    color: white;
}

.top-box {
    background-color: #2464A4;
    color: white;
    position: relative; 
    z-index: 2;
    width: 90%;
    max-width: 926px;
}

.top-box-content {
    max-width: 600px;
}

.bottom-box {
    background-color: $primary-nav;
    color: white;
    position: relative;
    z-index: 1;
    margin-top: -60px;   
    padding-top: 80px;   
}

.bottom-box-content {
    width: 90%;
    max-width: 1166px;
}

.footer-section-underline {
  height: 1px;
  border: none; 
  opacity: 1;
  background-color: #FCBA19;
  max-width: 48px;
}

ul li {
    // no bullet points
    list-style-type: none;
    margin-left: -2em;
    margin-bottom: .75em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

// I have decreed it that this is the best way to do this
// and I will fight anyone who says otherwise
@media (max-width: 767px) {
    .top-box-content {
        padding-left: 1.5em !important;
        padding-right: 1.5em !important;
    }
}
