<footer class="d-flex flex-column justify-content-center align-items-center m-0 mt-5 m-0">
    <div class="top-box">
        <div class="top-box-content my-4 mx-auto">
            <h5 class="visually-hidden">Land acknowledgement</h5>
            <p class="mb-0">We acknowledge all First Nations on whose territories BC Parks were established. We honour
                their connection to the land and respect the importance of their diverse teachings, traditions, and
                practices within these territories.</p>
        </div>
    </div>
    <div class="bottom-box w-100">
        <div
            class="bottom-box-content d-flex flex-column flex-md-row justify-content-between align-items-start mx-auto my-4">
            <div class="col-lg-4 col-md-4 col-sm-12 mb-4 me-4">
                <img src="https://bcparks.ca/static/c162b97913df25450593199f6bbb4ea4/6ba05/BCParks_Wordmark_White-cropped.webp"
                    alt="BC Parks logo" class="mb-3">
            </div>
            <nav aria-label="Day-use pass" class="col-lg-4 col-md-4 col-sm-12 mb-3 border-0">
                <h6 class="fw-bold">Day-use pass</h6>
                <hr class="footer-section-underline">
                <ul>
                    <li>
                        <a href="https://bcparks.ca/reservations/day-use-passes/#mount-seymour">List of day-use parks</a>
                    </li>
                    <li>
                        <a href="https://bcparks.ca/reservations/day-use-passes">Day-use pass information</a>
                    </li>
                </ul>
            </nav>
            <nav aria-label="Stay connected" class="col-lg-4 col-md-4 col-sm-12  mb-3 border-0">
                <h6 class="fw-bold">Stay connected</h6>
                <hr class="footer-section-underline">
                <ul>
                    <li>
                        <a href="https://bcparks.ca/contact/">Contact us</a>
                    </li>
                    <li>
                        <a href="https://engage.gov.bc.ca/bcparksblog/">BC Parks blog</a>
                    </li>
                </ul>
                <div class="mt-4">
                    <a href="https://www.facebook.com/YourBCParks/" aria-label="BC Parks on Facebook">
                        <i class="bi bi-facebook fa-2xl me-2" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com/yourbcparks/" aria-label="BC Parks on Instagram">
                        <i class="bi bi-instagram fa-2xl ms-2" aria-hidden="true"></i>
                    </a>
                </div>
            </nav>
        </div>
        <nav aria-label="Legal links" class="bottom-box-content d-flex flex-column flex-md-row justify-content-center align-items-start gap-lg-5 gap-md-5 mx-auto my-4 border-1 border-top border-info pt-4">
            <a href="https://www2.gov.bc.ca/gov/content/home/disclaimer" class="mt-2">
                Disclaimer
            </a>
            <a href="https://www2.gov.bc.ca/gov/content/home/privacy" class="mt-2">
                Privacy
            </a>
            <a href="https://www2.gov.bc.ca/gov/content/home/accessible-government" class="mt-2">
                Accessibility
            </a>
            <a href="https://www2.gov.bc.ca/gov/content/home/copyright" class="mt-2">
                Copyright
            </a>
        </nav>
    </div>
</footer>
