<div class="alert alert-danger verify-alert d-flex gap-3" role="alert">
  <i class="fa-regular fa-circle-exclamation fs-5 verify-alert__icon mt-1 text-danger"></i>

  <div class="d-flex flex-column verify-alert__content w-100 min-w-0">
    <div class="verify-alert__text">
      <strong class="verify-alert__title">A verification code has been sent to your email.</strong>
      <p class="verify-alert__body mb-0">Please check your inbox for the verification code email.</p>
    </div>

    <form [formGroup]="verifyForm" (ngSubmit)="onConfirmVerificationCode()" class="mt-3">
      <div class="col-12">
        <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
          <ngds-text-input label="Verification code" [control]="verifyForm.get('number')" [noValidationIfFocused]="true"
            [invalidConfig]="{
              messages: {
                required: 'Verification code is required.',
                pattern: 'Please enter a valid 6-digit code.',
              }
            }">
          </ngds-text-input>
        </div>
        <div class="d-flex flex-column flex-sm-row flex-md-row flex-lg-row align-items-lg-end align-items-md-end align-items-sm-end gap-2">
          <div class="d-flex flex-column flex-lg-row me-md-3 me-lg-3">
            <button type="submit" class="btn btn-primary verify-alert__action" [disabled]="verifyForm.invalid">
              Verify account
            </button>
          </div>
          <div class="d-flex flex-column flex-sm-row flex-md-row flex-lg-row justify-content-center">
            <button type="button" class="btn btn-outline-dark verify-alert__resend mt-2 px-0"
              (click)="resendVerification()" [disabled]="resendTimeout > 0">
              Resend verification code {{this.resendTimeout > 0 ? `(${this.resendTimeout}s)` : ``}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
