.card {
  .card-body {
    .btn {
      width: 100%;
      padding: 0.75rem 1rem !important;

      @media (min-width: 768px) {
        width: auto;
      }
    }
  }
}

.bg-reservation-grey{
  background-color:#c7c7c7;
}

.bg-grey {
  background-color: #f2f2f2;
}
