@if (breadcrumbs.length > 1) {
  <div>
    <!-- Breadcrumb Navigation -->
    <nav aria-label="breadcrumb" class="pt-4 mb-5">
      <ol class="breadcrumb custom-breadcrumb">
        @for (breadcrumb of breadcrumbs; track breadcrumb; let last = $last; let first = $first) {
          <li class="breadcrumb-item" [class.active]="last" [attr.aria-current]="last ? 'page' : null">
            @if (!last) {
              <a
                [routerLink]="[breadcrumb.url]"
                class="text-decoration-none">
                {{ breadcrumb.label }}
              </a>
            }
            @if (last) {
              <span>{{ breadcrumb.label }}</span>
            }
          </li>
          @if (!last) {
            <li class="breadcrumb-separator">
              <i class="fa-solid fa-chevron-right"></i>
            </li>
          }
        }
      </ol>
    </nav>
  </div>
}
