<div class="container-fluid p-0 ">
    <div class="d-flex flex-column-reverse flex-md-row">
        <!-- Left Column: Search Results -->
        <div class="search-results-container col-lg-4 p-0 d-flex flex-column">
            <div class="p-4">
                <h2
                  id="search-results"
                  tabindex="-1"
                >{{data?.displayName}}</h2>
                <hr class="my-3">
                <div class="col">
                    <button class="btn btn-link mb-3 border-0 bg-transparent" (click)="navToProtectedArea()">
                        <h4>
                            < Facilities</h4>
                    </button>
                </div>
                <h3>
                    Select an activity
                </h3>
                <!-- Scrollable Content Area -->
                <div class="activity-results h-100 flex-grow-1 overflow-auto px-4 pb-4 mb-3">
                    <!-- Search Results -->

                    <app-search-result-section [title]="''">
                        <app-search-result-item
                          *ngFor="let activity of activities"
                          [title]="activity?.displayName"
                          [navigation]="''"
                        >{{activity}}</app-search-result-item>
                    </app-search-result-section>
                </div>
            </div>
        </div>
        <!-- Right Column: Map -->
        <div class="search-map w-100 p-0">
            <app-search-map [_dataSignal]="_dataSignal"></app-search-map>
        </div>
    </div>
</div>