.section-underline {
  height: 3px;
  border: none; 
  opacity: 1;
  background-color: #FCBA19;
  max-width: 80px;
}

.hero-section {
  min-height: 200px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.passes-required {
  background-color: #E9E9E9;
  color: #333333;
}

.disable-btn[disabled] {
  opacity: 1;
  color: #C7C7C7 !important;
}
