.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 45em;
  z-index: -999;
  background-color: #f2f0ec;
}

.scroll-anchor {
  scroll-margin-top: 1.5rem;
}

.on-this-page {
  position: sticky;
  top: 1.5rem;

  ul {
    border-left: 1px solid #d0d0d0;
  }

  a {
    display: block;
    padding: 0.375rem 0 0.375rem 1rem;
    margin-left: -1px;
    border-left: 3px solid transparent;
    color: #313132;
    text-decoration: none;

    &:hover {
      color: #003366;
    }

    &.active {
      border-left-color: #003366;
      color: #003366;
      font-weight: 700;
    }
  }
}

.section-underline {
  height: 3px;
  border: none; 
  opacity: 1;
  background-color: #FCBA19;
  max-width: 80px;
}

.hero-section {
  min-height: 384px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.important-dates {
  background-color: #F2F0EC;
  border-color: #E0DDD5 !important;
  color: #333333;

  dt {
    flex: 0 0 auto;
    font-size: 1.125rem;
    line-height: 1.4;
  }
}

.disable-btn[disabled] {
  opacity: 1;
  color: #C7C7C7 !important;
}

// Stops a very, very long picklist from being a giant obelisk on the page
::ng-deep ngds-picklist-input .dropdown-menu {
  max-height: 300px;
  min-width: stretch;
  overflow-y: auto;
}
