<a [routerLink]="['/account/bookings', bookingId]" class="text-decoration-none text-dark d-block h-100 booking-card-link" [attr.aria-label]="ariaLabel || 'View booking details'">
  <div class="card border-primary bg-info bg-opacity-10 h-100 p-3 booking-card" [class.opacity-75]="isCancelled">
    <div class="py-2">
      <strong class="text-primary">{{geozoneName}}</strong> 
    </div>
    <div class="py-2">
      {{facilityName}}
    </div>
    <div class="py-2">
      {{productName}}
    </div>
    <div class="py-2">
      {{formattedDate}}
    </div>
  </div>
</a>

