<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-12">

      <!-- Info Alert -->
      <div class="alert alert-info mb-4 border border-2 border-primary" role="alert">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <i class="text-primary fa-regular fa-circle-info me-2"></i>
          </div>
          <div>
            <div class="mb-1">
              <strong class="text-dark">Passes cannot be transferred or changed.</strong>
            </div>
            <div class="text-dark">Please review your booking details below carefully.</div>
          </div>
        </div>
      </div>

      <app-cart-item [item]="cartItem"></app-cart-item>

      <!-- Acknowledgement Checkbox -->
      <div class="mt-4 mb-4 p-3 border border-1 rounded-1 border-medium-grey bg-light-blue-nav">
        <div class="form-check align-items-center d-flex gap-3 justify-content-start">
          <input
            class="form-check-input"
            type="checkbox"
            [formControl]="$any(form?.get('acknowledgeDetails'))"
            id="acknowledgeDetails"
            >
          <label class="form-check-label" for="acknowledgeDetails">
            I acknowledge that this information is correct and agree to the terms of the booking.
          </label>
        </div>
      </div>

    </div>
  </div>
</div>
