.nav-link {
  color: inherit;
  transition: all 0.2s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 2%;      
  width: 95%;
  height: 3px;   
  background-color: #dee2e6; 
  transition: background-color 0.2s ease;
}

.nav-link.active::after {
  background-color: #013366; 
}

.nav-link.completed::after {
  background-color: #198754; 
}


.nav-link:hover:not(.disabled):not(.completed) {
  background-color: rgba(0, 0, 0, 0.03); 
}

.nav-link.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

// Slightly nicer widths/spacing for stepper underlines
@media (max-width: 991px) {
  .nav-link::after {
    width: 80%;
  }
  .nav-link:has(.text-primary)::after {
    width: 95%;
  }
}
