<!-- Equipment Card -->
<div class="card booking-card border mb-4 shadow-none">
  <div class="card-header bg-booking-header p-3 px-sm-4">
    <h4 class="fs-6 mb-0 py-3 fw-semibold">Equipment</h4>
  </div>
  <div class="card-body px-3 px-sm-4 py-4">
    <h6 class="fs-6 mb-2">Vehicle information</h6>
    <!-- Explanation Text -->
    <div class="mb-4">
      <p class="text-muted fs-6 mb-4">Please enter the following details of the vehicle you'll be traveling in. You can change this after the booking. This information is optional.</p>
    </div>
    <!-- Vehicle Information Form -->
    <div class="fw-light row mb-md-2">
      <div class="col-md-6 mb-md-0 mb-3">
        <ngds-text-input
          [label]="'Plate number'"
          [control]="form?.get('equipmentInfo')?.get('licensePlate')" placeholder="Enter license plate number"
        >
        </ngds-text-input>
      </div>
      <div class="col-md-6 mb-0">
        <div class="mb-2 mb-lg-0">
          <label for="registeredProvince" class="form-label">
            Province, state or territory
          </label>
          <input id="registeredProvince" type="text" class="form-control"
            placeholder="Start typing to search..."
            [formControl]="$any(form?.get('equipmentInfo')?.get('registeredProvince'))" [typeahead]="provincesStates"
            [typeaheadOptionsLimit]="5" [typeaheadMinLength]="1" />
        </div>
      </div>
    </div>
  </div>

