<div class="bg-container bg-grey">
  <div class="container">
    <!-- Breadcrumbs -->
    <div class="d-flex my-2 align-items-center">
      <a
        class="btn btn-link text-decoration-none "
        (click)="navigate()"
      >Home</a>
      <i class="fa-regular fa-chevron-right mx-1 my-2"></i>
      <a class="btn btn-link text-decoration-none ">Cart</a>
      <i class="fa-regular fa-chevron-right mx-1 my-2"></i>
      <div class="mx-2 my-2">Checkout</div>
    </div>
    <h1 class="text-primary my-4">Checkout</h1>
    <div class="container-fluid border border-2 bg-white">
      <!-- Success header -->
      <div class="row d-flex align-items-center bg-grey border-bottom p-4">
        <div class="col-auto">
          <i class="fa-regular fa-circle-check fa-2xl text-success"></i>
        </div>
        <div class="col">
          <h2 class="mb-0">Success! You're all set.</h2>
        </div>
      </div>
      <div class="bg-white p-5 mb-5">
        <!-- Body remainder -->
        <div class="text-primary bg-light-blue rounded-3 w-100 p-3 mb-5">
          <div class="p-3">
            <h5>Remember to check park pages before you leave.</h5>
            Lorem ipsum dolor sit amet, consectetur adispiscing elit.Proin vitae sodales orci. Duis vehicula volutpat
            lacus, a dictum lectus tristique in.
          </div>
        </div>
        <div class="mb-5">
          <!-- Itinerary -->
          <h3 class="mb-3">Itinerary</h3>
          <div class="border border-1 bg-grey p-3">
            <div class="row mb-3 p-2">
              <div class="col-auto d-flex justify-content-center align-items-center h-100 ">
                <div class="circle-bg-light-blue text-center">
                  <h5 class="m-0 p-1">1</h5>
                </div>
              </div>
              <div class="col">
                <h3>{{bookingData?.displayName}}</h3>
              </div>
            </div>
            <div class="fs-5 mb-3">
              <strong>Booking #:</strong> {{bookingData?.globalId}}
            </div>
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="text-muted text-small mb-2">
                  Entry Point
                </div>
                <div class="row mb-3">
                  <div class="col-auto">
                    <i class="fa-regular fa-location-dot text-muted"></i>
                  </div>
                  <div class="col">{{bookingData?.entryPoint?.displayName}}</div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="text-muted text-small mb-2">
                  Exit Point
                </div>
                <div class="row mb-3">
                  <div class="col-auto">
                    <i class="fa-regular fa-location-dot text-muted"></i>
                  </div>
                  <div class="col">{{bookingData?.exitPoint?.displayName}}</div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-12 col-sm-3">
                <div class="text-muted text-small mb-2">
                  Arrival Date
                </div>
                <div>
                  {{bookingData?.startDate | date: 'EEE, MMM d, yyyy'}}
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="text-muted text-small mb-2">
                  Departure Date
                </div>
                <div>
                  {{bookingData?.endDate | date: 'EEE, MMM d, yyyy'}}
                </div>
              </div>
              <div class="col-12 col-sm-3 mb-3">
                <div class="text-small text-muted mb-2">
                  Number of nights
                </div>
                <div class="row">
                  <div class="col-auto">
                    <i
                      class="fa-regular fa-moon me-1"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col">
                    {{calculateTotalNights()}}
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-3 mb-3">
                <div class="text-small text-muted mb-2">
                  Party size
                </div>
                <div class="row">
                  <div class="col-auto">
                    <i
                      class="fa-regular fa-user-group me-1"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col">
                    {{calculateTotalOccupants()}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <!-- Terms and Conditions -->
           <h3 class="mb-3">Terms and Conditions</h3>
           <app-policy-accordions [activityName]="bookingData?.displayName"></app-policy-accordions>
        </div>
      </div>
    </div>
  </div>