<div class="container mt-5">
  <!-- Page Heading -->
  <div class="row mb-4">
    <div class="col text-left">
      <h1 class="display-4">My Account</h1>
    </div>
  </div>

  <!-- Two Columns -->
  <div class="row">
    <!-- Left Column: My Bookings -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="text-primary">
            <i class="fa-regular fa-calendar-week fa-xl"></i> My Bookings
          </h3>
          <p class="text-muted cardText">Mug strong chicory espresso spoon shop filter est barista chicory. Variety steamed frappuccino brewed cinnamon, acerbic carajillo robusta aromatic seasonal.</p>
          <a class="btn btn-primary mt-3" routerLink="/my-bookings">View My Bookings</a>
        </div>
      </div>
    </div>

    <!-- Right Column: Account Details -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="text-primary">
            <i class="fa-regular fa-user fa-xl"></i> Account Details
          </h3>
          <p class="text-muted cardText">Mug strong chicory espresso spoon shop filter est barista chicory. Variety steamed frappuccino brewed cinnamon, acerbic carajillo robusta aromatic seasonal.</p>
          <a class="btn bg-secondary text-white mt-3" routerLink="/account-details">View Account Details</a>
        </div>
      </div>
    </div>
  </div>
</div>